UI/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Languages" nillable="true" type="tns:ArrayOfLanguage" />
      <xs:element minOccurs="0" name="Interests" nillable="true" type="tns:ArrayOfInterest" />
      <xs:element minOccurs="0" name="PwdHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PwDSalt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguage" nillable="true" type="tns:ArrayOfLanguage" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
  <xs:complexType name="Interest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Interest" nillable="true" type="tns:Interest" />
</xs:schema>