UI/Service References/MeetUpService/MeetUpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37550/MeetUpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ArrayOfMeetUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeetUp" nillable="true" type="tns:MeetUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetUp" nillable="true" type="tns:ArrayOfMeetUp" />
  <xs:complexType name="MeetUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Traveler" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Guide" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TravelerState" type="q1:RequestState" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GuideState" type="q2:RequestState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetUp" nillable="true" type="tns:MeetUp" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Languages" nillable="true" type="tns:ArrayOfLanguage" />
      <xs:element minOccurs="0" name="Interests" nillable="true" type="tns:ArrayOfInterest" />
      <xs:element minOccurs="0" name="PwdHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PwDSalt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguage" nillable="true" type="tns:ArrayOfLanguage" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
  <xs:complexType name="Interest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Interest" nillable="true" type="tns:Interest" />
</xs:schema>